@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;600;700&display=swap');
@import url(/src/css/Styleguide.css);
.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .div {
    background-color: #ffffff;
    width: 391px;
    height: 2243px;
    position: relative;
  }
  
  .home .text-wrapper {
    position: absolute;
    top: 1495px;
    left: 0;
    font-family: var(--samll-text-bold-font-family);
    font-weight: var(--samll-text-bold-font-weight);
    color: #000000;
    font-size: var(--samll-text-bold-font-size);
    letter-spacing: var(--samll-text-bold-letter-spacing);
    line-height: var(--samll-text-bold-line-height);
    white-space: nowrap;
    font-style: var(--samll-text-bold-font-style);
  }
  
  .home .text-wrapper-2 {
    position: absolute;
    top: 1594px;
    left: 0;
    font-family: var(--samll-text-bold-font-family);
    font-weight: var(--samll-text-bold-font-weight);
    color: #000000;
    font-size: var(--samll-text-bold-font-size);
    letter-spacing: var(--samll-text-bold-letter-spacing);
    line-height: var(--samll-text-bold-line-height);
    white-space: nowrap;
    font-style: var(--samll-text-bold-font-style);
  }
  
  .home .overlap {
    position: absolute;
    width: 117px;
    height: 184px;
    top: 989px;
    left: 265px;
  }
  
  .home .element {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 72px;
    left: 87px;
    object-fit: cover;
  }
  
  .home .rectangle {
    width: 117px;
    height: 184px;
    left: 0;
    background-color: var(--light-blue);
    position: absolute;
    top: 0;
  }
  
  .home .text-wrapper-3 {
    top: 21px;
    left: 8px;
    font-family: var(--samll-text-bold-font-family);
    font-weight: var(--samll-text-bold-font-weight);
    color: #ffffff;
    font-size: var(--samll-text-bold-font-size);
    text-align: center;
    line-height: var(--samll-text-bold-line-height);
    position: absolute;
    letter-spacing: var(--samll-text-bold-letter-spacing);
    white-space: nowrap;
    font-style: var(--samll-text-bold-font-style);
  }
  
  .home .line {
    top: 18px;
    left: 8px;
    position: absolute;
    width: 75px;
    height: 1px;
  }
  
  .home .img {
    position: absolute;
    width: 75px;
    height: 3px;
    top: -3px;
    left: 0;
  }
  
  .home .bouton {
    width: 102px;
    height: 40px;
    justify-content: center;
    top: 54px;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    position: absolute;
    left: 8px;
  }
  
  .home .frame {
    display: flex;
    width: 129px;
    height: 41px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 16px 24px;
    position: relative;
    margin-top: -0.5px;
    margin-bottom: -0.5px;
    margin-left: -13.5px;
    margin-right: -13.5px;
  }
  
  .home .button {
    margin-top: -10.5px;
    margin-bottom: -8.5px;
    font-size: var(--button-font-size);
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
    position: relative;
    width: fit-content;
    font-family: var(--button-font-family);
    font-weight: var(--button-font-weight);
    color: var(--white);
    text-align: center;
    font-style: var(--button-font-style);
    all: unset;
    box-sizing: border-box;
  }
  
  .home .frame-wrapper {
    width: 98px;
    height: 37px;
    gap: 10px;
    top: 122px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 8px;
  }
  
  .home .frame-2 {
    display: flex;
    width: 101px;
    align-items: center;
    gap: 8px;
    padding: 9px 13px 10px 12px;
    position: relative;
    margin-right: -3px;
    border: 1px solid;
    border-color: var(--white);
  }
  
  .home .button-2 {
    margin-top: -1px;
    font-size: var(--display-btn-font-size);
    letter-spacing: var(--display-btn-letter-spacing);
    line-height: var(--display-btn-line-height);
    white-space: nowrap;
    position: relative;
    width: fit-content;
    font-family: var(--display-btn-font-family);
    font-weight: var(--display-btn-font-weight);
    color: var(--white);
    text-align: center;
    font-style: var(--display-btn-font-style);
    all: unset;
    box-sizing: border-box;
  }
  
  .home .arrow {
    position: relative;
    width: 4.18px;
    height: 7.36px;
    margin-right: -7.5px;
    object-fit: cover;
  }
  
  .home .overlap-group {
    position: absolute;
    width: 390px;
    height: 605px;
    top: 0;
    left: 0;
  }
  
  .home .eero-saarinen {
    position: absolute;
    width: 390px;
    height: 581px;
    top: 24px;
    left: 0;
    object-fit: cover;
  }
  
  .home .date {
    position: absolute;
    width: 230px;
    height: 170px;
    top: 435px;
    left: 126px;
  }
  
  .home .overlap-2 {
    position: relative;
    width: 224px;
    height: 170px;
  }
  
  .home .rectangle-2 {
    width: 222px;
    height: 170px;
    left: 2px;
    background-color: var(--black);
    opacity: 0.8;
    position: absolute;
    top: 0;
  }
  
  .home .element-avril-juin {
    position: absolute;
    width: 132px;
    top: 17px;
    left: 81px;
    font-family: var(--heading-4-font-family);
    font-weight: var(--heading-4-font-weight);
    color: var(--white);
    font-size: var(--heading-4-font-size);
    text-align: center;
    letter-spacing: var(--heading-4-letter-spacing);
    line-height: var(--heading-4-line-height);
    font-style: var(--heading-4-font-style);
  }
  
  .home .text-wrapper-4 {
    position: absolute;
    width: 90px;
    top: 119px;
    left: 122px;
    -webkit-text-stroke: 1px #000000;
    font-family: var(--heading-1-font-family);
    font-weight: var(--heading-1-font-weight);
    color: var(--white);
    font-size: var(--heading-1-font-size);
    letter-spacing: var(--heading-1-letter-spacing);
    line-height: var(--heading-1-line-height);
    white-space: nowrap;
    font-style: var(--heading-1-font-style);
  }
  
  .home .flexcontainer {
    gap: 15px;
    width: 77px;
    height: 80px;
    top: 20px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
  }
  
  .home .text {
    font-family: var(--heading-3-font-family);
    font-weight: var(--heading-3-font-weight);
    color: var(--white);
    font-size: var(--heading-3-font-size);
    text-align: center;
    line-height: var(--heading-3-line-height);
    position: relative;
    align-self: stretch;
    letter-spacing: var(--heading-3-letter-spacing);
    font-style: var(--heading-3-font-style);
  }
  
  .home .span {
    font-family: var(--heading-3-font-family);
    font-weight: var(--heading-3-font-weight);
    color: #ffffff;
    font-size: var(--heading-3-font-size);
    letter-spacing: var(--heading-3-letter-spacing);
    line-height: var(--heading-3-line-height);
    font-style: var(--heading-3-font-style);
  }
  
  .home .navbar {
    position: absolute;
    width: 390px;
    height: 69px;
    top: 0;
    left: 0;
    background-color: var(--gray);
  }
  
  .home .open-closed {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 332px;
  }
  
  .home .menu-open {
    position: absolute;
    width: 24px;
    height: 16px;
    top: 7px;
    left: 4px;
  }
  
  .home .element-aaf-af {
    position: absolute;
    width: 49px;
    height: 50px;
    top: 10px;
    left: 16px;
    object-fit: cover;
  }
  
  .home .overlap-3 {
    position: absolute;
    width: 391px;
    height: 109px;
    top: 829px;
    left: 0;
  }
  
  .home .rectangle-3 {
    width: 391px;
    height: 109px;
    left: 0;
    background-color: var(--gray);
    opacity: 0.8;
    position: absolute;
    top: 0;
  }
  
  .home .d-couvrez-l-h-ritage {
    position: absolute;
    width: 340px;
    top: 6px;
    left: 13px;
    font-family: var(--sm-texte-font-family);
    font-weight: var(--sm-texte-font-weight);
    color: #000000;
    font-size: var(--sm-texte-font-size);
    letter-spacing: var(--sm-texte-letter-spacing);
    line-height: var(--sm-texte-line-height);
    font-style: var(--sm-texte-font-style);
  }
  
  .home .footer {
    position: absolute;
    width: 390px;
    height: 364px;
    top: 1860px;
    left: 0;
    background-color: var(--gray);
  }
  
  .home .social-icons {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 305px;
    left: 18px;
  }
  
  .home .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .home .overlap-group-2 {
    position: absolute;
    width: 390px;
    height: 26px;
    top: 357px;
    left: 0;
  }
  
  .home .logo-grand-belfort {
    position: absolute;
    width: 80px;
    height: 20px;
    top: 6px;
    left: 30px;
  }
  
  .home .rectangle-4 {
    position: absolute;
    width: 390px;
    height: 26px;
    top: 0;
    left: 0;
    background-color: var(--dark-blue);
  }
  
  .home .text-wrapper-5 {
    top: 107px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 13px;
    line-height: 20.8px;
    position: absolute;
    width: 104px;
    left: 18px;
    color: var(--black);
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home .text-wrapper-6 {
    width: 104px;
    top: 152px;
    left: 18px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 13px;
    line-height: 20.8px;
    position: absolute;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home .text-wrapper-7 {
    top: 275px;
    font-family: var(--samll-text-bold-font-family);
    font-weight: var(--samll-text-bold-font-weight);
    font-size: var(--samll-text-bold-font-size);
    line-height: var(--samll-text-bold-line-height);
    position: absolute;
    width: 104px;
    left: 18px;
    color: var(--black);
    letter-spacing: var(--samll-text-bold-letter-spacing);
    white-space: nowrap;
    font-style: var(--samll-text-bold-font-style);
  }
  
  .home .flexcontainer-i {
    gap: 2px;
    width: 207px;
    height: 46px;
    top: 206px;
    left: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
  }
  
  .home .text-i {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    line-height: 20.8px;
    position: relative;
    align-self: stretch;
    letter-spacing: 0;
  }
  
  .home .text-wrapper-8 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20.8px;
  }
  
  .home .element-2 {
    position: absolute;
    width: 49px;
    height: 50px;
    top: 19px;
    left: 25px;
    object-fit: cover;
  }
  
  .home .eero-saarinen-figure {
    position: absolute;
    width: 242px;
    top: 967px;
    left: 13px;
    font-family: var(--sm-texte-font-family);
    font-weight: var(--sm-texte-font-weight);
    color: #000000;
    font-size: var(--sm-texte-font-size);
    letter-spacing: var(--sm-texte-letter-spacing);
    line-height: var(--sm-texte-line-height);
    font-style: var(--sm-texte-font-style);
  }
  
  .home .text-wrapper-9 {
    position: absolute;
    width: 147px;
    top: 636px;
    left: 13px;
    font-family: var(--heading-2-font-family);
    font-weight: var(--heading-2-font-weight);
    color: var(--black);
    font-size: var(--heading-2-font-size);
    letter-spacing: var(--heading-2-letter-spacing);
    line-height: var(--heading-2-line-height);
    white-space: nowrap;
    font-style: var(--heading-2-font-style);
  }
  
  .home .text-wrapper-10 {
    position: absolute;
    top: 683px;
    left: 13px;
    font-family: var(--heading-3-font-family);
    font-weight: var(--heading-3-font-weight);
    color: #000000;
    font-size: var(--heading-3-font-size);
    text-align: center;
    letter-spacing: var(--heading-3-letter-spacing);
    line-height: var(--heading-3-line-height);
    white-space: nowrap;
    font-style: var(--heading-3-font-style);
  }
  
  .home .line-wrapper {
    top: 676px;
    left: 13px;
    position: absolute;
    width: 75px;
    height: 1px;
  }
  
  .home .l-univers {
    position: absolute;
    width: 289px;
    top: 730px;
    left: 13px;
    font-family: var(--heading-5-font-family);
    font-weight: var(--heading-5-font-weight);
    color: #000000;
    font-size: var(--heading-5-font-size);
    letter-spacing: var(--heading-5-letter-spacing);
    line-height: var(--heading-5-line-height);
    font-style: var(--heading-5-font-style);
  }
  
  .home .text-wrapper-11 {
    position: absolute;
    top: 1367px;
    left: 13px;
    font-family: var(--heading-2-font-family);
    font-weight: var(--heading-2-font-weight);
    color: #000000;
    font-size: var(--heading-2-font-size);
    letter-spacing: var(--heading-2-letter-spacing);
    line-height: var(--heading-2-line-height);
    white-space: nowrap;
    font-style: var(--heading-2-font-style);
  }
  
  .home .fondation-cartier {
    position: absolute;
    top: 1423px;
    left: 13px;
    font-family: var(--sm-texte-font-family);
    font-weight: var(--sm-texte-font-weight);
    color: #000000;
    font-size: var(--sm-texte-font-size);
    letter-spacing: var(--sm-texte-letter-spacing);
    line-height: var(--sm-texte-line-height);
    font-style: var(--sm-texte-font-style);
  }
  
  .home .ouverture-du-mardi {
    position: absolute;
    width: 297px;
    top: 1522px;
    left: 13px;
    font-family: var(--sm-texte-font-family);
    font-weight: var(--sm-texte-font-weight);
    color: #000000;
    font-size: var(--sm-texte-font-size);
    letter-spacing: var(--sm-texte-letter-spacing);
    line-height: var(--sm-texte-line-height);
    font-style: var(--sm-texte-font-style);
  }
  
  .home .plein-tarif-tarif {
    position: absolute;
    width: 297px;
    top: 1621px;
    left: 13px;
    font-family: var(--sm-texte-font-family);
    font-weight: var(--sm-texte-font-weight);
    color: #000000;
    font-size: var(--sm-texte-font-size);
    letter-spacing: var(--sm-texte-letter-spacing);
    line-height: var(--sm-texte-line-height);
    font-style: var(--sm-texte-font-style);
  }
  
  .home .img-wrapper {
    top: 1356px;
    left: 13px;
    position: absolute;
    width: 75px;
    height: 1px;
  }