@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;600;700&family=Mulish:wght@700&display=swap');
@import url(/utils/variables.css);

.footer {
    position: absolute;
    width: 390px;
    height: 364px;
    top: 647px;
    background-color: var(--gray);
  }

  .social-icons {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 305px;
    left: 18px;
  }

  .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .footinfo {
    position: absolute;
    width: 390px;
    height: 26px;
    background-color: var(--dark-blue);
    top: 357px;
  }

  .nouscontacter {
    top: 107px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 13px;
    line-height: 20.8px;
    position: absolute;
    width: 104px;
    left: 18px;
    color: var(--black);
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .billeterie {
    width: 104px;
    top: 152px;
    left: 18px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 13px;
    line-height: 20.8px;
    position: absolute;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .noussuivre {
    top: 275px;
    font-family: "Epilogue";
    position: absolute;
    width: 104px;
    left: 18px;
    color: var(--black);
    white-space: nowrap;
    font-style: bold;
  }
  
  .num {
    gap: 2px;
    width: 207px;
    height: 46px;
    top: 206px;
    left: 18px;
    position: relative;
    font-family: "Inter-Regular", Helvetica;
    color: #000000;
    font-size: 13px;
    line-height: 20.8px;
  }
  
  .logo-2 {
    position: absolute;
    width: 49px;
    height: 50px;
    top: 19px;
    left: 25px;
    object-fit: cover;
  }

  .header {
    position: absolute;
    width: 390px;
    height: 69px;
    top: 0;
    left: 0;
    background-color: var(--gray);
  }
  
  .open-closed {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 332px;
  }
  
 .menu-open {
    position: absolute;
    width: 24px;
    height: 16px;
    top: 7px;
    left: 4px;
  }
  
  .logo {
    position: absolute;
    width: 49px;
    height: 50px;
    top: 10px;
    left: 16px;
    object-fit: cover;
  }

  body {
    background-color: #7d7d7d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  main {
    background-color: #ffffff;
    width: 390px;
    height: 1030px;
    position: relative;
  }

  .form h1 {
    position: absolute;
    width: 139px;
    height: 46px;
    top: 134px;
    left: 64px;
    font-family: "Epilogue";
    font-weight: 200;
    font-size: var(--heading4);
    color: var(--white);
    z-index: 2;
  }

  .rectangle2 {
    position: absolute;
    width: 221px;
    height: 61px;
    transform: rotate(-4.301deg); 
    top: 127px;
    left: 18px;
    background-color: var(--blue);
    z-index: 0;
  }

  .rectangle {
    position: absolute;
    width: 221px;
    height: 61px; 
    top: 127px;
    left: 24px;
    background-color: var(--dark-blue);
    z-index: 1;
  }

  .form {
    position: absolute;
    left: 36px;
  }

  .nom {
    position: absolute;
    width: 24px;
    height: 14px;
    top: 247px;
    font-family: "MULISH";
    font-weight: bold;
    font-size: var(--button);
  }
  .email {
    position: absolute;
    width: 45px;
    height: 14px;
    top: 316px;
    font-family: "MULISH";
    font-weight: bold;
    font-size: var(--button);
  }
  .sujet {
    position: absolute;
    width: 30px;
    height: 14px;
    top: 385px;
    font-family: "MULISH";
    font-weight: bold;
    font-size: var(--button);
  }
  .message {
    position: absolute;
    width: 58px;
    height: 14px;
    top: 454px;
    font-family: "MULISH";
    font-weight: bold;
    font-size: var(--button);
  }

