@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;600;700&family=Mulish:wght@700&display=swap');
@import url(/utils/variables.css);

.footer {
    position: absolute;
    width: 390px;
    height: 364px;
    top: 647px;
    background-color: var(--gray);
  }

  .social-icons {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 305px;
    left: 18px;
  }

  .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .footinfo {
    position: absolute;
    width: 390px;
    height: 26px;
    background-color: var(--dark-blue);
    top: 357px;
  }

  .nouscontacter {
    top: 107px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 13px;
    line-height: 20.8px;
    position: absolute;
    width: 104px;
    left: 18px;
    color: var(--black);
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .billeterie {
    width: 104px;
    top: 152px;
    left: 18px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 13px;
    line-height: 20.8px;
    position: absolute;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .noussuivre {
    top: 275px;
    font-family: "Epilogue";
    position: absolute;
    width: 104px;
    left: 18px;
    color: var(--black);
    white-space: nowrap;
    font-style: bold;
  }
  
  .num {
    gap: 2px;
    width: 207px;
    height: 46px;
    top: 206px;
    left: 18px;
    position: relative;
    font-family: "Inter-Regular", Helvetica;
    color: #000000;
    font-size: 13px;
    line-height: 20.8px;
  }
  
  .logo-2 {
    position: absolute;
    width: 49px;
    height: 50px;
    top: 19px;
    left: 25px;
    object-fit: cover;
  }

  .header {
    position: absolute;
    width: 390px;
    height: 69px;
    top: 0;
    left: 0;
    background-color: var(--gray);
    z-index: 10;
  }

  .header Nav {
    position: fixed;
    background-color: #ffffff;
    width: 390px;
    height: 1010px;
    z-index: 11 ;
    overflow-y : clip;
  }

  header .ticket {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 300px;
    border-radius: 8px;

  }

  .open-closed {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 332px;
  }
  
 .menu-open {
    position: absolute;
    width: 24px;
    height: 16px;
    top: 7px;
    left: 4px;
  }
  
  .logo {
    position: absolute;
    width: 49px;
    height: 50px;
    top: 10px;
    left: 16px;
    object-fit: cover;
  }

  body {
    background-color: #7d7d7d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  main {
    background-color: #ffffff;
    width: 390px;
    height: 1754px;
    position: relative;
  }

  h1 {
    position: absolute;
    width: 345px;
    height: 27px;
    top: 140px;
    left: 20px;
    font-family: "Epilogue";
    font-weight: bold;
    font-size: var(--heading5);
  }

  img {
    position: absolute;
    width: 152px;
    height: 152px;
    left: 119px;
  }

  .plein_tarif img {
    position: absolute;
    top: 224px;
  }
  .tarif_reduit img {
    position: absolute;
    top: 497px;
  }
  .reduction img {
    position: absolute;
    top: 770px;
  }
  .pass img {
    position: absolute;
    top: 1043px;
  }

  .plein_tarif p {
    position: absolute;
    width: 82px;
    height: 19px;
    top: 390px;
    left: 154px;
    font-family: "Epilogue";
    font-weight: 300;
    font-size: var(--sm-texte);
  }
  .tarif_reduit p {
    position: absolute;
    width: 115px;
    height: 19px;
    top: 663px;
    left: 144px;
    font-family: "Epilogue";
    font-weight: 300;
    font-size: var(--sm-texte);
  }
  .reduction p {
    position: absolute;
    width: 155px;
    height: 19px;
    top: 937px;
    left: 122px;
    font-family: "Epilogue";
    font-weight: 300;
    font-size: var(--sm-texte);
  }
  .pass p {
    position: absolute;
    width: 200px;
    height: 19px;
    top: 1209px;
    left: 96px;
    font-family: "Epilogue";
    font-weight: 300;
    font-size: var(--sm-texte);
  }

  .plein_tarif button {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 424px;
    left: 135px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: var(--dark-blue);
    color:white
  }
  .tarif_reduit button {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 697px;
    left: 135px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: var(--dark-blue);
    color:white
  }
  .reduction button {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 970px;
    left: 135px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: var(--dark-blue);
    color:white
  }
  .pass button {
    position: absolute;
    width: 120px;
    height: 40px;
    top: 1243px;
    left: 135px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: var(--dark-blue);
    color:white
  }