@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;600;700&display=swap');
@import url(/utils/variables.css);
  .home {
    background-color: #7d7d7d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .home .div {
    background-color: #ffffff;
    width: 391px;
    height: 2243px;
    position: relative;
  }
  
  .home .horraire h3 {
    position: absolute;
    top: 1495px;
    left: 0;
    font-family: "Epilogue";
    color: #000000;
    font-size: var(--samll-text-bold-font-size);
    white-space: nowrap;
    font-style: bold;
  }
  
  .home .tarif h3 {
    position: absolute;
    top: 1594px;
    left: 0;
    font-family: "Epilogue";
    color: #000000;
    white-space: nowrap;
    font-style: bold;
  }
  
  .home .zz {
    position: absolute;
    width: 117px;
    height: 184px;
    top: 989px;
    left: 265px;
  }
  
  .home .ticket { 
    position: absolute;
    width: 18px;
    height: 18px;
    top: 72px;
    left: 87px;
    object-fit: cover;
  }
  
  .home .rectangle {
    width: 117px;
    height: 184px;
    left: 0;
    background-color: var(--light-blue);
    position: absolute;
    top: 0;
  }
  
  .home .bouton h3 {
    top: 21px;
    left: 8px;
    font-family: "Epilogue";
    color: #ffffff;
    text-align: center;
    position: absolute;
    white-space: nowrap;
    font-style: bold;
  }
  
  .home .bouton {
    width: 102px;
    height: 40px;
    justify-content: center;
    top: 54px;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    position: absolute;
    left: 8px;
  }
  

  .home .button {
    margin-top: -10.5px;
    margin-bottom: -8.5px;
    position: relative;
    width: fit-content;
    font-family: "Mulish";
    color: var(--white);
    text-align: center;
    font-style: bold, uppercase;
    all: unset;
    box-sizing: border-box;
  }
  
  .home .bouton-2 {
    width: 98px;
    height: 37px;
    gap: 10px;
    top: 122px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 8px;
  }
  
  .home .bouton-2 {
    display: flex;
    width: 101px;
    align-items: center;
    gap: 8px;
    padding: 9px 13px 10px 12px;
    position: relative;
    margin-right: -3px;
    border: 1px solid;
    border-color: var(--white);
  }
  
  .home .button-2 {
    margin-top: -1px;
    white-space: nowrap;
    position: relative;
    width: fit-content;
    font-family: "Mulish";
    color: var(--white);
    text-align: center;
    font-style: bold, uppercase;
    all: unset;
    box-sizing: border-box;
  }
  
  .home .landing {
    position: absolute;
    width: 390px;
    height: 605px;
    top: 0;
    left: 0;
  }
  
  .home .eero-saarinen {
    position: absolute;
    width: 390px;
    height: 581px;
    top: 24px;
    left: 0;
    object-fit: cover;
  }
  
  .home .date {
    position: absolute;
    width: 230px;
    height: 170px;
    top: 435px;
    left: 126px;
  }
  
  .home .landing {
    background-color: #b42f2f;
    position: relative;
    width: 24px;
    height: 170px;
  }
  
  .home .rectangle-2 {
    width: 222px;
    height: 170px;
    left: 2px;
    background-color: var(--black);
    opacity: 0.8;
    position: absolute;
    top: 0;
  }
  
  .home .date {
    position: absolute;
    width: 132px;
    top: 17px;
    left: 81px;
    font-family: "Epilogue";
    color: var(--white);
    text-align: center;
    font-style: light;
  }
  
  .home .année {
    position: absolute;
    width: 90px;
    top: 119px;
    left: 122px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Encode Sans SC";
    color: var(--white);
    white-space: nowrap;
    font-style: bold;
  }
  
  .home .text {
    gap: 15px;
    width: 77px;
    height: 80px;
    top: 20px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
  }
  
  .home .text {
    font-family: var(--heading-3-font-family);
    color: var(--white);
    font-size: var(--heading-3-font-size);
    text-align: center;
    position: relative;
    align-self: stretch;
    font-style: var(--heading-3-font-style);
  }
  
  .home .text {
    font-family: var(--heading-3-font-family);
    color: #ffffff;
    font-size: var(--heading-3-font-size);
    letter-spacing: var(--heading-3-letter-spacing);
    line-height: var(--heading-3-line-height);
    font-style: var(--heading-3-font-style);
  }
  
  .home .header {
    position: absolute;
    width: 390px;
    height: 69px;
    top: 0;
    left: 0;
    background-color: var(--gray);
  }
  
  .home .open-closed {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 332px;
  }
  
  .home .menu-open {
    position: absolute;
    width: 24px;
    height: 16px;
    top: 7px;
    left: 4px;
  }
  
  .home .logo {
    position: absolute;
    width: 49px;
    height: 50px;
    top: 10px;
    left: 16px;
    object-fit: cover;
  }
  
  .home .rectangle-3 {
    position: absolute;
    width: 391px;
    height: 109px;
    top: 829px;
    left: 0;
  }
  
  .home .rectangle-3 {
    width: 391px;
    height: 109px;
    left: 0;
    background-color: var(--gray);
    opacity: 0.8;
    position: absolute;
    top: 0;
  }
  
  .home .rectangle-3 {
    position: absolute;
    width: 340px;
    top: 6px;
    left: 13px;
    font-family: "Epilogue";
    color: #000000;
    font-style: light;
  }
  
  .home .footer {
    position: absolute;
    width: 390px;
    height: 364px;
    top: 1860px;
    left: 0;
    background-color: var(--gray);
  }
  
  .home .social-icons {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 305px;
    left: 18px;
  }
  
  .home .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .home .footinfo {
    position: absolute;
    width: 390px;
    height: 26px;
    top: 357px;
    left: 0;
  }
  
  .home .footinfo {
    position: absolute;
    width: 390px;
    height: 26px;
    top: 0;
    left: 0;
    background-color: var(--dark-blue);
  }
  
  .home .nouscontacter {
    top: 107px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 13px;
    line-height: 20.8px;
    position: absolute;
    width: 104px;
    left: 18px;
    color: var(--black);
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home .billeterie {
    width: 104px;
    top: 152px;
    left: 18px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 13px;
    line-height: 20.8px;
    position: absolute;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .home .noussuivre {
    top: 275px;
    font-family: "Epilogue";
    position: absolute;
    width: 104px;
    left: 18px;
    color: var(--black);
    white-space: nowrap;
    font-style: bold;
  }
  
  .home .num {
    gap: 2px;
    width: 207px;
    height: 46px;
    top: 206px;
    left: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
  }
  
  .home .num {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    line-height: 20.8px;
    position: relative;
    align-self: stretch;
    letter-spacing: 0;
  }
  
  .home .num {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20.8px;
  }
  
  .home .logo-2 {
    position: absolute;
    width: 49px;
    height: 50px;
    top: 19px;
    left: 25px;
    object-fit: cover;
  }
  
  .home .Presentation {
    position: absolute;
    width: 242px;
    top: 967px;
    left: 13px;
    font-family: "Epilogue";
    color: #000000;
    font-style: light;
  }
  
  .home .titre {
    position: absolute;
    width: 147px;
    top: 636px;
    left: 13px;
    font-family: "Encode Sans SC";
    color: var(--black);
    white-space: nowrap;
    font-style: ultra light;
  }
  
  .home .inter {
    position: absolute;
    top: 683px;
    left: 13px;
    font-family: "Encode Sans SC";
    color: #000000;
    text-align: center;
    white-space: nowrap;
    font-style: bold;
  }
  
  .home .header h2 {
    position: absolute;
    width: 289px;
    top: 730px;
    left: 13px;
    font-family: var(--heading-5-font-family);
    font-weight: var(--heading-5-font-weight);
    color: #000000;
    font-size: var(--heading-5-font-size);
    letter-spacing: var(--heading-5-letter-spacing);
    line-height: var(--heading-5-line-height);
    font-style: var(--heading-5-font-style);
  }
  
  .home .info h2 {
    position: absolute;
    top: 1367px;
    left: 13px;
    font-family: "Encode Sans SC";
    color: #000000;
    white-space: nowrap;
    font-style: e light;
  }
  
  .home .info p {
    position: absolute;
    top: 1423px;
    left: 13px;
    font-family: "Epilogue";
    color: #000000;
    font-style: light;
  }
  
  .home .horraire p {
    position: absolute;
    width: 297px;
    top: 1522px;
    left: 13px;
    font-family: var(--sm-texte-font-family);
    font-weight: var(--sm-texte-font-weight);
    color: #000000;
    font-size: var(--sm-texte-font-size);
    letter-spacing: var(--sm-texte-letter-spacing);
    line-height: var(--sm-texte-line-height);
    font-style: var(--sm-texte-font-style);
  }
  
  .home .tarif h3 {
    position: absolute;
    width: 297px;
    top: 1621px;
    left: 13px;
    font-family: "Epilogue";
    color: #000000;
    font-style: bold;
  }
  